@use '../../sass/' as *;

.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    @include flex(center, center);
    //padding-top: $header-height;

    .form {
        position: absolute;
        width: 36%;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
        padding: 2rem;
        top: $header-height;

        @include tablet {
            width: 60%;
        }

        @include mobile {
            width: 96%;
        }

        button {
            margin-top: 2rem;
        }

        .option {
            text-align: center;
            font-size: 1rem;
            margin-top: 2rem;

            span {
                text-decoration: underline;
                color: $txt-second-color;
                margin-left: 4px;
            }
        }
    }
}