@use '../../sass/' as *;

.header {
    background-color: $main-bg;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: $header-height;
    transition: height 0.3s ease;

    @include tablet {
        height: $header-tablet-height;
        box-shadow: $box-shadow;
    }

    @include mobile {
        height: $header-mobile-height;
    }

    .container {
        height: 100%;
    }

    &.shrink {
        height: $header-shrink-height;
        box-shadow: $box-shadow;
        z-index: 100;

        @include tablet {
            height: $header-tablet-height;
        }

        @include mobile {
            height: $header-mobile-height;
        }
    }

    &.putup {
        z-index: 100;
    }

    &__menu {
        @include flex(center, space-between);
        height: 100%;
        font-size: 1.5rem;

        &__logo {
            position: absolute;
            inset: 0;
            pointer-events: none;
    
            img {
                height: 28px;

                @include mobile {
                    height: 8px;
                }
            }
        }

        &__item ~ &__item {
            margin-left: 39px;

            @include tablet {
                margin-left: 20px;
            }

            @include mobile {
                margin-left: 15px;
            }
        }

        &__item.active {
            font-weight: 600;
            color: $txt-second-color;
        }

        &__item:hover {
            color: $txt-second-color;
        }

        &__left,
        &__right {
            @include flex(center, center);
            height: 100%;
        }

        &__right {
            font-size: 2.25rem;
            &__item {
                @include flex(center, center);
                position: relative;

                &__count {
                    @include flex(center, center);
                    position: absolute;
                    background: red;
                    width: 2rem;
                    height: 2rem;
                    color: #fff;
                    border-radius: 50%;
                    font-size: 1rem;
                    top: -0.8rem;
                    right: -1rem;
                }

                &:hover{
                    .user {
                        display: block;
                    }
                }

                .user {
                    display: none;
                    position: absolute;
                    background: $main-color;
                    right: -1rem;
                    top: 3rem;
                    padding: 1rem;
                    font-size: 1.4rem;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
                    border-radius: 2px;

                    &::after {
                        content: '';
                        position: absolute;
                        background: transparent;
                        right: 1rem;
                        top: -0.6rem;
                        width: 0;
                        height: 0;
                        border-left: 1rem solid transparent;
                        border-right: 1rem solid transparent;
                        border-bottom: 0.6rem solid $main-color;
                    }

                    &__email {
                        padding: 0.2rem 0;
                        position: relative;
                        cursor: default;
                        color: $txt-white;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background: rgba(0, 0, 0, 0.1);
                        }
                    }

                    &__logout {
                        
                        margin-top: 0.8rem;
                        color: $txt-white;

                        &:hover {
                            color: $txt-second-color;
                        }

                        i {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }

            @include mobile {
                font-size: 2rem;
            }
        }

        &__left {
            z-index: 99;
            &__item {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    transition: width 0.5s ease;
                    height: 1px;
                    background-color: $txt-second-color;
                }

                &.active::after,
                &:hover::after {
                    width: 100%;
                }
            }

            &__close {
                display: none;
            }

            @include tablet {
                flex-direction: column;
                background-color: $main-bg;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                justify-content: flex-start;
                padding-top: 30px;
                transform: translateX(-100%);
                transition: transform 0.5s ease;

                &.active {
                    transform: translateX(0);
                }

                &__item ~ &__item {
                    margin-left: unset;
                    margin-top: 20px;
                }

                &__close {
                    display: block;
                    position: absolute;
                    left: 30px;
                    font-size: 2.5rem;
                }
            }
        }

        &__mobile {
            display: none;
            padding-right: 20px;


            @include tablet {
                display: block;
                font-size: 2.5rem;
            }

            @include mobile {
                display: block;
                font-size: 2rem;
            }
        }
    }
}