@use '../../sass/' as *;

.comments {
    border: 1px solid rgb(0, 0, 0, 0.07);
    border-radius: 2px;
    margin: 0 10%;

    @include mobile {
        margin: 0;
    }

    &__notify {
        text-align: center;
        padding: 2rem;
        color: $txt-second-color;
        font-size: 1.4rem;
    }

    &__form {
        @include flex(flex-start, flex-start);
        margin: 3rem;

        @include mobile {
            margin: 2rem;
        }
    }

    &__item {
        @include flex(flex-start, flex-start);
        margin: 3rem;

        @include mobile {
            margin: 2rem;
        }

        &__img {
            font-size: 3rem;
        }

        &__content {
            padding: 0 1rem;
            font-size: 1.4rem;
            flex: 1;

            &__email {
                font-weight: 700;
            }

            &__time {
                opacity: 0.7;
                font-size: 1.2rem;
                margin: 0.4rem 0;
            }

            &__body {
                font-size: 1.4rem;
            }

            &__input {
                width: 100%;
                font-size: 1.2rem;
                border: 1px solid rgba(20, 58, 81, 0.1);
                background-color: #f1f3f4;
                padding: 0.9rem 0.7rem;
                margin: 0.4rem 0;
                border-radius: 5px;
                outline: none;
            }
        }
    }
}